@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #E35973,        /* RED */
  --secondary-color: #2F2F9B,      /* Light PURPLE */
  --secondary-color-2: #24257D,    /* Dark PURPLE */
  --text-primary-color: white,     /* WHITE */
  --text-secondary-color: #8D8D8D, /* Grey */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #E35973,        /* RED */
    --secondary-color: #2F2F9B,      /* Light PURPLE */
    --secondary-color-2: #24257D,    /* Dark PURPLE */
    --text-primary-color: white,     /* WHITE */
    --text-secondary-color: #8D8D8D, /* Grey */
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
